//- Section devider
	- class: no-spacing-top, no-spacing-bottom
	
mixin section-devider()
	section
		.container
			.section-devider&attributes(attributes)

mixin devider()
	.devider&attributes(attributes)
		