* {
  outline: none !important;
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: $font-weight-default;
  font-family: $font-body;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  &.disable-scroll {
    .body-wrapper {
      width: 100%;
      height: 100vh;
    }
  }
}

main {
  background: white;
  position: relative;
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-bold;
  font-size: 3.5rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

p {
  margin: 0 0 0.5rem 0;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
  transition: color 0.3s $cubic3;
  color: $primary-color;
  font-size: 1.2rem;
}

.parallax-line-box {
  margin-top: 2rem;
}

.parallax-switch-box {
  margin-top: 4rem;
}

.error {
  border-color: $color-pinterest !important;
  background: rgba(187, 15, 36, 0.1) !important;
}

.error-message {
  color: $color-pinterest !important;
  font-style: italic;
}

.body-wrapper {
  overflow: hidden;
}

.is-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.is-off {
  display: none !important;
}